# Prerequisites
*.d
.vscode/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
models/sensors/back_pico_flexx/model.config
models/sensors/back_pico_flexx/back_pico_flexx.sdf
models/sensors/back_pico_flexx/meshes/picoflexx.stl
models/sensors/front_pico_flexx/model.config
models/sensors/front_pico_flexx/front_pico_flexx.sdf
models/sensors/front_pico_flexx/meshes/picoflexx.stl
models/sensors/left_pico_flexx/model.config
models/sensors/left_pico_flexx/left_pico_flexx.sdf
models/sensors/left_pico_flexx/meshes/picoflexx.stl
models/sensors/right_pico_flexx/model.config
models/sensors/right_pico_flexx/right_pico_flexx.sdf
models/sensors/right_pico_flexx/meshes/picoflexx.stl
models/sensors/pico_flexx_b/model.config
models/sensors/pico_flexx_b/pico_flexx_b.sdf
models/sensors/pico_flexx_b/meshes/picoflexx.stl
models/sensors/pico_flexx_f/model.config
models/sensors/pico_flexx_f/pico_flexx_f.sdf
models/sensors/pico_flexx_f/meshes/picoflexx.stl
models/sensors/pico_flexx_l/model.config
models/sensors/pico_flexx_l/pico_flexx_l.sdf
models/sensors/pico_flexx_l/meshes/picoflexx.stl
models/sensors/pico_flexx_r/model.config
models/sensors/pico_flexx_r/pico_flexx_r.sdf
models/sensors/pico_flexx_r/meshes/picoflexx.stl
models/mockup_nix/mesh/mockup_nix.dae
models/mockup_nix/mesh/mockup_nix.md5

resources/maps