<?xml version="1.0"?>

<model>
  <name>Nix tower</name>
  <version>0.1</version>
  <sdf version='1.5'>nix_tower.sdf</sdf>
  
  <author>
    <name>David Alejo</name>
    <email>daletei@upo.es</email>
  </author>

  

  <description>
      Model of the NIx tower as developed in Phase I
  </description>

</model>
