<?xml version="1.0"?>

<model>
  <name>raposaNG</name>
  <version>0.1</version>
  <sdf version='1.5'>raposaNG.sdf</sdf>
  
  <author>
    <name>David Alejo</name>
    <email>daletei@upo.es</email>
  </author>

  <author>
    <name>Simon Martinez</name>
    <email>simon.martinez.rzs@gmail.com</email>
  </author>


  <description>
      RaposaNG model from IdMind. Made as a variation of the TrackedVehicleSimple of Gazebo 9 with a ROS Interface, with a different model.
  </description>

</model>
