<?xml version="1.0"?>

<model>
  <name>NIx</name>
  <version>0.1</version>
  <sdf version='1.6'>nix.sdf</sdf>
  
  <author>
    <name>David Alejo</name>
    <email>daletei@upo.es</email>
  </author>

  <description>
      NIx model. It includes not only the RaposaNG model from IdMind, but also the sensing head developed in the context of the NIx project, a part of the Esmera European innitiative.
  </description>

</model>
