<?xml version="1.0"?>

<model>
  <name>Texas RADAR</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>David Alejo</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A model of the Texas Instruments Radar.
  </description>

</model>
