<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>wide_lens_camera</name>
  <sdf version="1.6">wide_lens_camera.sdf</sdf>

  <author>
    <name>David Alejo Teissière</name>
    <email>daletei@upo.es</email>
  </author>

  <description>
    A model of a 120 degrees wide angle camera such as the ImagingSource DFK33UP1300.
  </description>
</model>
