<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>pico_flexx</name>
  <sdf version="1.6">pico_flexx.sdf</sdf>

  <author>
    <name>David Alejo Teissière</name>
    <email>daletei@upo.es</email>
  </author>

  <description>
    A model of the pico flexx depth camera using gpu laser.
    Note: with the sdf format we can only put one instance in ROS without duplicating topics, tfs, etc.
          for that reason, I have included in the installation script, called by the CMakeLists.txt a
          part for making copies of the pico_flexx sensor. 
  </description>
</model>
