<launch>
    <arg name="scan_topic" default="/lidar_scan"/>
    <arg name="initial_pose_x" default="0"/>
    <arg name="initial_pose_y" default="0"/>
    <arg name="initial_pose_a" default="0"/>
    <arg name="pi"   value="3.141592654"/>

     <!-- MCL 2D Stuff & Map server -->
    <arg name="map2d_name"     default="upo_basement"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(find nix_simulator)/resources/maps/$(arg map2d_name)/map.yaml"/>



    <node pkg="amcl" type="amcl" name="amcl" >
        <remap from="scan"                      to="$(arg scan_topic)"/>
        <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
        <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
        <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
        <param name="initial_cov_xx"            value="0.1"/>
        <param name="initial_cov_yy"            value="0.1"/>
        <param name="initial_cov_aa"            value="0.1"/>
        <param name="odom_model_type"           value="diff"/>
        <param name="transform_tolerance"       value="0.2" />
        <param name="gui_publish_rate"          value="10.0"/>
        <param name="laser_max_beams"           value="60"/>
        <param name="min_particles"             value="3000"/>
        <param name="max_particles"             value="6000"/>
        <param name="kld_err"                   value="0.1"/>
        <param name="kld_z"                     value="0.99"/>
        <param name="odom_alpha1"               value="0.6"/>
        <param name="odom_alpha2"               value="0.6"/>
        <param name="odom_alpha3"               value="0.5"/>
        <param name="odom_alpha4"               value="0.5"/>
        <param name="odom_alpha5"               value="0.1"/>
        <param name="laser_z_hit"               value="0.95"/>
        <param name="laser_z_short"             value="0.05"/>
        <param name="laser_z_max"               value="0.1"/>
        <param name="laser_z_rand"              value="0.1"/>
        <param name="laser_sigma_hit"           value="0.1"/>
        <param name="laser_lambda_short"        value="0.2"/>
        <param name="laser_model_type"          value="likelihood_field"/>
        <param name="laser_likelihood_max_dist" value="5.0"/>
        <param name="update_min_d"              value="0.4"/>
        <param name="update_min_a"              value="0.4"/>
        <param name="odom_frame_id"             value="raposaNG/odom"/>
        <param name="base_frame_id"             value="raposaNG/base_link"/>
        <param name="resample_interval"         value="1"/>
        <param name="transform_tolerance"       value="0.1"/>
        <param name="recovery_alpha_slow"       value="0.0"/>
        <param name="recovery_alpha_fast"       value="0.0"/>
      </node>

      <arg name="max_height" default="0.4"/>
      <arg name="min_height" default="0.1"/>
      <arg name="angle_increment" default="0.01"/>

      <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_lidar" >
        <remap from="cloud_in"            to="/lidar/points"/>
        <remap from="scan"                to="/lidar_scan"/>
        <param name="min_height"          value="$(arg min_height)"/>
        <param name="max_height"          value="$(arg max_height)"/>
        <param name="angle_min"           value="$(eval -1*arg('pi'))"/>
        <param name="angle_max"           value="$(eval arg('pi'))"/>
        <param name="angle_increment"     value="$(arg angle_increment)"/>
        <param name="queue_size"          value="1"/>
        <param name="scan_time"           value="0.1"/>
        <param name="range_min"           value="0.2"/>
        <param name="range_max"           value="120"/>
        <param name="target_frame"        value="raposaNG/base_link"/>
        <param name="transform_tolerance" value="0.5"/>
      </node>

      <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_radar" >
        <remap from="cloud_in"            to="/radar/points"/>
        <remap from="scan"                to="/radar_scan"/>
        <param name="min_height"          value="$(arg min_height)"/>
        <param name="max_height"          value="$(arg max_height)"/>
        <param name="angle_min"           value="$(eval -1*arg('pi'))"/>
        <param name="angle_max"           value="$(eval arg('pi'))"/>
        <param name="angle_increment"     value="$(arg angle_increment)"/>
        <param name="queue_size"          value="1"/>
        <param name="scan_time"           value="0.1"/>
        <param name="range_min"           value="0.2"/>
        <param name="range_max"           value="120"/>
        <param name="target_frame"        value="raposaNG/base_link"/>
        <param name="transform_tolerance" value="0.5"/>
      </node>

</launch>