<launch>
  <arg name="world_file" default="nix_ramp.world"/>

    <env name="IGN_GAZEBO_RESOURCE_PATH" value="$(find nix_simulator)/models"/>

    <!-- Marsella MockUp World -->
    <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
      <arg name="ign_args" value="-r -v 3 $(find nix_simulator)/worlds/nix_ramp.world"/>
      <env name="IGN_GAZEBO_RESOURCE_PATH" value="$(optenv IGN_GAZEBO_RESOURCE_PATH):$(find nix_simulator)/models:$(find nix_simulator)/resources"/>
    </include>
    
</launch>
