<launch>
    <env name="IGN_GAZEBO_RESOURCE_PATH" value="$(find nix_simulator)/models:$(find nix_simulator)/models/sensors"/>

    <!-- IMPORTANT: the world name must be the same as the filename of the world file (verify it in the .sdf world file) -->
    <arg name="world_name" default="upo_basement"/>
    <arg name="model" default="nix/nix.sdf"/>
    <param name="use_sim_time" value="true"/>

    <!-- Marsella MockUp World -->
    <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
      <arg name="ign_args" value="-r -v 4 $(find nix_simulator)/worlds/$(arg world_name).world"/>
      <env name="IGN_GAZEBO_RESOURCE_PATH" value="$(optenv IGN_GAZEBO_RESOURCE_PATH):$(find nix_simulator)/models:$(find nix_simulator)/models/sensors:$(find nix_simulator)/resources"/>
    </include>

    <!-- Default initial position-->
  <arg name="x_pos" default="0 " />
  <arg name="y_pos" default="0" />
  <arg name="z_pos" default="0.4 " />

  <!-- Spawn the node. IMPORTANT: the world name must be the same as the filename of the world file -->
    <node
    pkg="ros_ign_gazebo"
    type="create"
    name="nix_spawn"
    output="screen"
    args="-world $(arg world_name) -file $(find nix_simulator)/models/$(arg model) -name raposa -allow_renaming true -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) --timeout 20000">
    </node>

   <node
    pkg="ros_ign_bridge"
    type="parameter_bridge"
    name="$(anon ros_ign_bridge)"
    output="screen"
    args="/camera@sensor_msgs/Image@ignition.msgs.Image /lidar/points@sensor_msgs/PointCloud2@ignition.msgs.PointCloudPacked 
          /radar/points@sensor_msgs/PointCloud2@ignition.msgs.PointCloudPacked 
         /cmd_vel@geometry_msgs/Twist@ignition.msgs.Twist /model/raposaNG/tf@tf2_msgs/TFMessage@ignition.msgs.Pose_V 
          /world/$(arg world_name)/pose/info@tf2_msgs/TFMessage@ignition.msgs.Pose_V
         /clock@rosgraph_msgs/Clock@ignition.msgs.Clock  /gt@tf2_msgs/TFMessage@ignition.msgs.Pose_V
         ">

    <remap from="/model/raposaNG/tf" to ="/tf"/>
    <remap from="/gt" to ="/tf"/>
  </node>

  <node pkg="nix_simulator" type="ground_truth_pose_publisher" name="gt" args="$(arg world_name) raposa world">

  </node>

  <node pkg="nix_simulator" type="ign_clock_publisher" name="ign_clock_publisher"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find nix_simulator)/viz/mapping.rviz"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_broadcaster" args="0.1 0 0.40 0 0 0 raposa raposa/velodyne/top/gpu_lidar"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="radar_broadcaster" args="0.1 0 0.40 0 0 0 raposa raposa/radar/top/gpu_radar"/>
  
  <include file="$(find nix_simulator)/launch/octomap_server.launch"/>

  <include file="$(find nix_simulator)/launch/teleop.launch"/>

</launch>
